# environment files
.env
.venv/
venv/

# ide settings
.idea/
.vscode/

# python artifacts
__pycache__/
*.pyc

# dastabase files
*.db
*.sqlite
*.sqlite3

#data directories
data/db_normalized/
data/processed/
data/raw/

